/* general */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  height: 100vh;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}

/* mobile first */

@media (min-width: 200px) {
  /*nav*/

  header {
    height: 10%;
    width: 100%;
  }

  nav {
    position: relative;
    width: 100%;
    height: 80px;
  }

  .nav-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
  }

  .nav-container.show {
    filter: blur(1.3px);
    opacity: 0.7;
  }

  .nav-container .logo {
    position: relative;
    left: 0;
    padding-left: 10px;
    font-size: 36px;
    color: #fc4300;
    cursor: pointer;
  }

  .nav-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-items .menu {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    background-color: #fff;
    height: 100vh;
    width: 0px;
    transition: 0.2s ease-in-out;
  }

  .nav-items .menu .explore {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    background-color: #000;
  }

  .nav-items .menu .explore p {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
  }

  .nav-items .menu .fa-x {
    position: relative;
    padding-top: 10px;
    font-size: 25px;
    margin-left: 5px;
    cursor: pointer;
    z-index: 3;
    color: #fff;
  }

  .nav-items .menu.show {
    opacity: 1;
    width: 250px;
  }

  .nav-container .nav-items .menu ul li {
    position: relative;
    flex-direction: column;
    gap: 10px;
    text-align: end;
    padding-top: 100px;
    display: flex;
  }

  .nav-container .nav-items .menu ul li a {
    text-decoration: none;
    color: #000;
    width: 100%;
    padding-right: 20px;
    font-size: 20px;
    border-top: 1px solid #ddd;
  }

  .nav-input input {
    border-radius: 8px;
    border: none;
    padding: 10px 0px 10px 30px;
    outline: none;
    width: 80%;
  }

  .nav-input .fa-magnifying-glass {
    position: absolute;
    margin-left: 7px;
    margin-top: 13px;
    width: 10px;
    height: 10px;
    cursor: pointer;
  }

  .nav-items .fa-bars {
    position: absolute;
    right: 0;
    padding-right: 15px;
    font-size: 30px;
    display: none;
    color: #fc4300;
    cursor: pointer;
  }

  .nav-items .fa-bars.show {
    display: block;
  }

  /*main*/

  main {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 30px;
  }

  .effect {
    position: absolute;
    top: -30px;
    width: calc(100% - 250px);
    height: 100vh;
    background-color: #000;
    z-index: -5;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  .effect.show {
    z-index: 1;
    opacity: 0.6;
  }

  .Container_main {
    margin-top: 30%;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    cursor: pointer;
  }

  .products2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #fc4300;
    height: 500px;
  }

  h1 {
    padding-left: 20px;
    margin: 0;
  }

  .product {
    border-radius: 5px;
    height: 150px;
    max-width: 200px;
    margin-bottom: 130px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
  }

  .product_new {
    border-radius: 5px;
    height: 150px;
    max-width: 200px;
    margin-bottom: 130px;
    margin-top: 70px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
  }

  .descricao1 {
    position: relative;
    font-size: 18px;
    margin-top: 150px;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }

  .descricao1.show {
    opacity: 1;
  }

  .descricao2 {
    position: relative;
    font-size: 18px;
    margin-top: 150px;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }

  .descricao2.show {
    opacity: 1;
  }

  .descricao3 {
    position: relative;
    font-size: 18px;
    margin-top: 150px;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }

  .descricao3.show {
    opacity: 1;
  }

  .descricao4 {
    position: relative;
    font-size: 18px;
    margin-top: 150px;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }

  .descricao4.show {
    opacity: 1;
  }

  .descricao5 {
    position: relative;
    font-size: 18px;
    margin-top: 150px;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }

  .descricao5.show {
    opacity: 1;
  }

  .descricao6 {
    position: relative;
    font-size: 18px;
    margin-top: 150px;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }

  .descricao6.show {
    opacity: 1;
  }

  .descricao7 {
    position: relative;
    font-size: 18px;
    margin-top: 150px;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
  }

  .descricao8 {
    position: relative;
    font-size: 18px;
    margin-top: 150px;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
  }

  .descricao9 {
    position: relative;
    font-size: 18px;
    margin-top: 150px;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
  }

  .product1 {
    background-image: url(img/rice.jpg);
    background-position: center;
    background-color: lightgray;
    background-size: cover;
  }

  .product2 {
    background-image: url(img/beans.jpg);
    background-position: center;
    background-size: cover;
  }

  .product3 {
    background-image: url(img/bread.jpg);
    background-position: center;
    background-size: cover;
  }

  .product4 {
    background-image: url(img/coke.jpg);
    background-position: center;
    background-size: cover;
  }

  .product5 {
    background-image: url(img/meat.jpg);
    background-position: center;
    background-size: cover;
  }

  .product6 {
    background-image: url(img/pepsi.jpg);
    background-position: center;
    background-size: cover;
  }

  .product7 {
    background-image: url(img/notebooks_categgory.jpg);
    background-position: center;
    background-size: cover;
  }

  .product8 {
    background-image: url(img/phones.jpg);
    background-position: center;
    background-size: cover;
  }

  .product9 {
    position: absolute;
    background-image: url(img/desk.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 23%;
    width: 100%;
    margin-top: 80%;
  }

  .btn {
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: #ddd;
  }

  .tech {
    position: absolute;
    margin-top: 5%;
    left: 30%;
  }
}

@media (min-width: 1024px) {
  /*nav*/

  nav {
    position: relative;
    width: 100%;
    height: 80px;
  }

  .nav-container .logo {
    position: relative;
    cursor: pointer;
  }

  .nav-input input {
    width: 100%;
  }

  /*main*/

  main {
    position: absolute;
  }

  .effect {
    position: fixed;
    top: 0;
    width: calc(100% - 250px);
    height: 100vh;
    left: 0;
    background-color: #000;
    z-index: -1;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  .effect.show {
    opacity: 0.6;
    z-index: 3;
  }

  .Container_main {
    margin-top: 5%;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(6, minmax(300px));
    gap: 10px;
    width: 100%;
    height: 100%;
    padding-top: 30px;
  }

  .product {
    border-radius: 5px;
    height: 150px;
    max-width: 200px;
    margin-bottom: 130px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .descricao1 {
    font-size: 18px;
    text-align: center;
    transition: 0.5s ease;
    transition: 0.3s ease;
  }

  .descricao1.show {
    opacity: 1;
  }

  .product1 {
    background-image: url(img/rice.jpg);
    background-position: center;
    background-size: cover;
  }

  .product2 {
    background-image: url(img/beans.jpg);
    background-position: center;
    background-size: cover;
  }

  .product3 {
    background-image: url(img/bread.jpg);
    background-position: center;
    background-size: cover;
  }

  .product4 {
    background-image: url(img/coke.jpg);
    background-position: center;
    background-size: cover;
  }

  .product5 {
    background-image: url(img/meat.jpg);
    background-position: center;
    background-size: cover;
  }

  .product6 {
    background-image: url(img/pepsi.jpg);
    background-position: center;
    background-size: cover;
  }

  .btn {
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: #ddd;
  }

  .products2 {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px));
    gap: 10px;
    width: 100%;
    height: 300px;
    padding-top: 30px;
    padding-left: 15%;
    background-color: #fc4300;
  }

  .product7 {
    background-image: url(img/notebooks_categgory.jpg);
    background-position: center;
    background-size: cover;
  }

  .product8 {
    background-image: url(img/phones.jpg);
    background-position: center;
    background-size: cover;
  }

  .product9 {
    position: relative;
    background-image: url(img/desk.jpg);
    background-position: center;
    background-size: cover;
  }

  .product_new {
    padding: 0;
    margin-top: 60px;
    margin-left: 0;
  }

  .tech {
    position: absolute;
    margin-top: 5px;
    margin-left: 15%;
  }
}
